.children-bg {
    background-color: hsl(0 0% 95%);
}

.content-wrapper {
    min-height: calc(100vh - 68px);
    /* Adjust 72px to match your actual header height */
}

.text-justify {
    text-align: justify;
}